<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reyco.dasbx.portal.dao.VideoCommentLikeDao">
	
	<select id="getById" resultType="com.reyco.dasbx.portal.model.domain.VideoCommentLike">
        select * from portal_video_comment_like where id=#{id}
    </select>
    
	<select id="getByCommentIdAndUserId" resultType="com.reyco.dasbx.portal.model.domain.VideoCommentLike">
        select * from portal_video_comment_like where commentId=#{commentId} and userId=#{userId};
    </select>
	
	<select id="listByCommentId" resultType="com.reyco.dasbx.portal.model.domain.VideoCommentLike">
        select * from portal_video_comment_like where deleted=0 and state=1 and commentId=#{commentId};
    </select>
    
    <insert id="insert">
    	insert into portal_video_comment_like
    		(commentId,userId,time,ip,province,city,district,address,gmtCreate,createBy,gmtModified,modifiedBy)
    	values(#{commentId},#{userId},#{time},#{ip},#{province},#{city},#{district},#{address},#{gmtCreate},#{createBy},#{gmtModified},#{modifiedBy});
    </insert>
    
    <update id="updateState">
    	update portal_video_comment_like set state=#{state},gmtModified=#{gmtModified},modifiedBy=#{modifiedBy}
    	where id=#{id}
    </update>

</mapper>