<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reyco.dasbx.portal.dao.VideoDanmakuDao">
	
	<select id="getById" resultType="com.reyco.dasbx.portal.model.domain.VideoDanmaku">
        select * from portal_video_danmaku where id=#{id}
    </select>
    
	<select id="listByVideoIdAndDanmakuTime" resultType="com.reyco.dasbx.portal.model.domain.VideoDanmaku">
        select * from portal_video_danmaku where deleted=0 and videoId=#{videoId} and (danmakuTime between #{startDanmakuTime} and #{endDanmakuTime})
    </select>
    
    <insert id="insert">
    	insert into portal_video_danmaku
    		(videoId,userId,content,danmakuTime,time,ip,province,city,district,address,gmtCreate,createBy,gmtModified,modifiedBy)
    	values(#{videoId},#{userId},#{content},#{danmakuTime},#{time},#{ip},#{province},#{city},#{district},#{address},#{gmtCreate},#{createBy},#{gmtModified},#{modifiedBy});
    	<selectKey resultType="long" keyProperty="id" order="AFTER">
			select @@identity
		</selectKey>
    </insert>

</mapper>